# ===== IDE =====
.idea/
.vscode/

# ===== Python =====
venv/
__pycache__/
*.pyc
*.pyo

# ===== Unity =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
UserSettings/

# ===== OS =====
.DS_Store
Thumbs.db
